- name = 'Louisa Barrett';
- email = 'LOUISABARRETT@ganster.COM'; 
- address = 'If you wanna';
- phone = '555.222.8000';
- linkedin = 'https://www.linkedin.com/in/louisabarrett/';
- location = 'City, State, Zip';
- githubUSER = 'LouisaBarrett';
- blurb = 'Cat ipsum dolor sit amet, lick the plastic bag kitty power! i like big cats and i can not lie. Cat slap dog in face climb a tree, wait for a fireman jump to fireman then scratch his face claw drapes, so chase ball of string so destroy couch as revenge then cats take over the world stick butt in face. ';