- name = 'Louisa Barrett';
- email = 'LOUISABARRETT@ganster.COM'; 
- address = 'If you wanna'
- phone = '555.222.8000';
- linkedin = 'https://www.linkedin.com/in/louisabarrett/';
- location = 'City, State, Zip';
- githubUSER = 'Louisa Barrett'

- summary = 'Developer with 6 months of programming experience and seven years as a graphic designer coordinating with local and remote teams on multiple, simultaneous projects: driven to discover creative, clear solutions for back- and front-end problems and a great interest in UX/UI.';