doctype html
html
  head
    include ./_includes/vars.jade 
    title #{name}
    meta(charset='utf-8')
    link(href='main.css', media='screen', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Gudea')
    link(rel='shortcut icon', href='http://faviconist.com/icons/f9294cc2281f1004e846adbea5f4b316/favicon.ico')
    script(src="https://use.fontawesome.com/2db3674173.js")  
  body
    header.header-details
      h1.name= name
      article.links-container
        a.links(href='https://github.com/LouisaBarrett', target='_blank')
          img(src='./images/gh_icon.png', alt='github icon', width='21', height='21')
          | GitHub
        |         
        a.links(href='https://www.linkedin.com/in/louisabarrett/', target='_blank')
          img(src='./images/in_icon.png', alt='linkedin icon', width='18', height='18')
          | LinkedIn
      br
      |       
      article.contact-information
        p.contact-deets P.O. Box 384 | 
        |         
        p.contact-deets Mead, CO 80542 | 
        |         
        p.contact-deets ph: 505.660.9495 | 
        |         
        a.links(href='mailto:louisabarrett@gmail.com') e: louisabarrett@gmail.com
    |   
    section.content
      h2.category-headers Summary
      hr
      |       
      p.category-description-main
        | Developer with 6 months of programming experience and seven years as a graphic designer coordinating with local and remote teams on multiple, simultaneous projects: driven to discover creative, clear solutions for back- and front-end problems and a great interest in UX/UI.
      |     
      h2.category-headers Education
      hr
      |       
      p.primary-titles
        | Galvanize gSchool | 
        span.location Denver, CO
      |       
      p.category-details
        | 6-month intensive Ruby on Rails developer training program emphasizing TDD and pair programming
        br
        | September 2013&ndash;February 2014
      |       
      p.primary-titles
        | Kansas City Art Institute | 
        span.location Kansas City, MO
      |       
      p.category-details
        | BFA, Graphic Design
        br
        | Dean&apos;s List 2004&ndash;2007
        br
        | 2007
      |     
      h2.category-headers Code
      hr
      |       
      a.primary-titles(href='http://github.com/LouisaBarrett/SocialSmarts', target='_blank')
        | Social Smarts | 
        p.links github.com/LouisaBarrett/SocialSmarts
      |       
      p.category-description
        | As part of a five-person team and using the Twitter and Klout APIs, created a social media management app that allows a user to process incoming tweets based on various criteria. Primary role was designing and building the front-end from scratch, emphasizing a straightforward and simple experience for the user
      |       
      a.primary-titles(href='https://github.com/LouisaBarrett/fundit', target='_blank')
        | FundIt | 
        p.links github.com/LouisaBarrett/fundit
      |       
      p.category-description
        | A small, solo project creating a fund-raising site built to practice using Ruby, Rails and RSpec.
      |       
      a.primary-titles(href='https://github.com/LouisaBarrett/checkers', target='_blank')
        | Checker Board | 
        p.links github.com/LouisaBarrett/checkers
      |       
      p.category-description Practicing Ruby fundamentals by building a game-board for a game of checkers.
      |       
      a.primary-titles(href='https://github.com/LouisaBarrett/command-query_practice', target='_blank')
        | Command Query | 
        p.links github.com/LouisaBarrett/command-query_practice
      |       
      p.category-description Solutions to a series of kata-like tests practicing how objects change in Ruby
      |       
      a.primary-titles(href='https://github.com/LouisaBarrett/resume', target='_blank')
        | R&eacute;sum&eacute; | 
        p.links github.com/LouisaBarrett/resume
      |       
      p.category-description
        | Take a look under the hood of this page on GitHub (or see the PDF print version 
        a.links(href='http://f.cl.ly/items/2D2S2u0L0Z2B3x0o3X1Y/LouisaBarrett_resume.pdf', target='_blank') here
        | ). Constructive feedback is always welcome and appreciated.
      |     
      h2.category-headers Professional Experience
      hr
      |       
      p.primary-titles
        | ECOS Communications | 
        span.location Boulder, CO
      |         
      p.category-details
        | Senior Graphic Designer, museum and exhibit graphics
        br
        | 2008&ndash;Fall 2013
      |         
      p.category-description
        | Graphic Design project lead: responsible for the creation, development and production management of large- and small-scale cultural history and conservation education projects for a range of clients and uses.
      |       
      p.primary-titles
        | Hero Design Studio | 
        span.location Denver, CO
      |         
      p.category-details
        | Contract Production Artist
        br
        | Fall 2008
      |       
      p.primary-titles
        | Archetype 5 | 
        span.location Boulder, CO
      |         
      p.category-details
        | Graphic Designer
        br
        | 2007&ndash;2008
      |       
      p.primary-titles
        | Workshop Design, Inc. | 
        span.location Kansas City, MO
      |         
      p.category-details
        | Intern, print and environmental design
        br
        | 2006
